.TodoTemplate {
  margin-left: 360px;
  margin-right: 360px;
  border-radius: 4px;
  overflow: hidden;
}

.app-title {
  color: white;
  height: 4rem;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}